@{
    ViewBag.Title = "Home Page";
}
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h2 class="card-title">Bienvenue</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Nos dernières commandes</h3>
                    </div>
                    <div class="card-body">
                        <div class="owl-carousel">
                            <div class="">
                                <img src="~/Assets/img/homePage/slide1.jpg" />
                            </div>
                            <div class="">
                                <img src="~/Assets/img/homePage/slide2.jpg" />
                            </div>
                            <div class="">
                                <img src="~/Assets/img/homePage/slide3.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>     

