
@{
    ViewBag.Title = "ConfigComponent";
    var configPrice = 2759;
    var mbID = "";
    var cpuID = "";
    var gpuID = "";
    var psuID = "";
    
    mbID = Request.Form["mbID"];
    cpuID = Request.Form["cpuID"];
    gpuID = Request.Form["gpuID"];
    psuID = Request.Form["psuID"];

    
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>


<h1 class="title title-up">Composants Principaux</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="card-title">Résumé de la configuration</h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="d-inline">Prix Total :</h4>
                        <h4 class="text-primary config-pricing d-inline"> @configPrice </h4>
                        <h4 class="d-inline"> chf</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer-tb-2"></div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Carte Mère</h2>
                        <h5 class="card-subtitle">Veuillez choisir une carte mère</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="MotherboardChoice" class="btn btn-primary btn-simple animation-on-hover">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Carte Mère choisi</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-left">
                    @{
                        if (mbID == "" || mbID == null)
                        {
                            <h5 class="card-subtitle">Aucun</h5>
                        }
                        else
                        {
                            <h5 class="card-subtitle">Carte Mère n @mbID </h5>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Processeur </h2>
                        <h5 class="card-subtitle">Veuillez choisir un processeur</h5>
                        <h5></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="CpuChoice" class="btn btn-primary btn-simple animation-on-hover">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Processeur choisi </h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle">Aucun</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Carte Graphique </h2>
                        <h5 class="card-subtitle">Veuillez choisir une carte graphique</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="GpuChoice" class="btn btn-primary btn-simple animation-on-hover">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Carte Graphique choisie</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle">Aucune</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Alimentation </h2>
                        <h5 class="card-subtitle">Veuillez choisir une alimentation</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="PSUChoice" class="btn btn-primary btn-simple animation-on-hover">Choisir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="card-title">Alimentation choisie</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle">Aucune</h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-lg-left">
                    <a href="CaseChoice" class="btn btn-primary btn-simple animation-on-hover">Retour</a>
                </div>
                <div class="float-lg-right">
                    <a href="ConfigStorage" class="btn btn-primary animation-on-hover">Suivant</a>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    <input type="hidden" id="mbID" />
    <input type="hidden" id="cpuID" />
    <input type="hidden" id="gpuID" />
    <input type="hidden" id="psuID" />
</form>
<script type="text/javascript">

    $(document).ready(function () {
        if (localStorage.getItem("MotherboardChoice") != null) {
            document.getElementById("mbID").value = localStorage.getItem("MotherboardChoice"); 
        }
        if (localStorage.getItem("CpuChoice") != null) {
            document.getElementById("cpuID").value = localStorage.getItem("CpuChoice");
        }
        if (localStorage.getItem("GpuChoice") != null) {
            document.getElementById("gpuID").value = localStorage.getItem("GpuChoice");
        }
        if (localStorage.getItem("PsuChoice") != null) {
            document.getElementById("psuID").value = localStorage.getItem("PsuChoice");
        }
    });
</script>
