
@{
    ViewBag.Title = "Configurator";
}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h2 class="card-title">Configurer votre système</h2>
                        <h5 class="card-subtitle">Veuillez choisir le type de système</h5>
                        <h5></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4>Ordinateur Gaming</h4>
            </div>
            <div class="card-body">
                <a href="CaseChoice" class="btn btn-primary btn-simple animation-on-hover">Configurer</a>
            </div>
        </div>
    </div>    
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4>Ordinateur Travail</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-primary btn-simple animation-on-hover" type="button">Configurer</button>
            </div>
        </div>
    </div>    
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h4>Serveur</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-primary btn-simple animation-on-hover" type="button">Configurer</button>
            </div>
        </div>
    </div>
</div>

