
@{
    ViewBag.Title = "ConfigChecklist";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="card-title">Résumé de la configuration</h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="d-inline">Prix Total :</h4>
                        <h4 class="text-primary config-pricing d-inline"> 0</h4>
                        <h4 class="d-inline"> chf</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="card">
            <div class="bg-success card-header">

            </div>
            <div class="bg-success card-img-top d-flex justify-content-center align-items-md-center">
                <img src="~/Assets/icons/Case.png" class="" />
            </div>
            <div class="spacer-b-1 bg-success"></div>
            <div class="card-body d-flex justify-content-center">
                <h4>Boitier</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <div class="bg-success card-header">

            </div>
            <div class="bg-success card-img-top d-flex justify-content-center align-items-md-center">
                <img src="~/Assets/icons/Motherboard.png" />
            </div>
            <div class="spacer-b-1 bg-success"></div>
            <div class="card-body d-flex justify-content-center">
                <h4>Carte Mère</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <div class="bg-success card-header">

            </div>
            <div class="bg-success card-img-top d-flex justify-content-center align-items-md-center">
                <img src="~/Assets/icons/CPU.png" class="" />
            </div>
            <div class="spacer-b-1 bg-success"></div>
            <div class="card-body d-flex justify-content-center">
                <h4>Processeur</h4>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card">
            <div class="bg-success card-header">

            </div>
            <div class="bg-success card-img-top d-flex justify-content-center align-items-md-center">
                <img src="~/Assets/icons/GPU.png" class="" />
            </div>
            <div class="spacer-b-1 bg-success"></div>
            <div class="card-body d-flex justify-content-center">
                <h4>Carte Graphique</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body bg-success">
                <h4>Compatible</h4>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body bg-warning">
                <h4>Risque d'incompatibilité</h4>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body bg-danger">
                <h4>Incompatible</h4>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body bg-info">
                <h4>Non Choisi</h4>
            </div>
        </div>
    </div>
</div>