
@{
    ViewBag.Title = "CpuCoolingChoice";
}

<h1 class="title title-up">Composants Principaux</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h2 class="card-title">Refroidissement du processeur</h2>
                        <h5 class="card-subtitle">Veuillez choisir un système de refroidissement pour votre processeur</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a href="#" class="card-link">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="card-title">Ventilateur de base</h2>
                            <h5 class="card-subtitle">Ventilateur vendu avec le processeur</h5>

                        </div>
                    </div>
                </div>
                <div class="card-img-bottom">
                    <img class="card-img image-list" src="~/Assets/img/ShowCaseImg/Cooling/stockFan.png" />
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#" class="card-link">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="card-title">Ventilateur Perfomence</h2>
                            <h5 class="card-subtitle">Ventilateur plus performant que le ventilateur inclu avec le processeur</h5>

                        </div>
                    </div>
                </div>
                <div class="card-img-bottom">
                    <img class="card-img image-list" src="~/Assets/img/ShowCaseImg/Cooling/qualityFan.png" />
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a href="watercoolingConfig" class="card-link">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h2 class="card-title">WaterCooling</h2>
                            <h5 class="card-subtitle">Pour les meilleurs performance au niveau du refroidissement.</h5>
                            <h5 class="card-subtitle">Recommendé pour les processeurs overclockés</h5>

                        </div>
                    </div>
                </div>
                <div class="card-img-bottom">
                    <img class="card-img image-list" src="~/Assets/img/ShowCaseImg/Cooling/watercooling.png" />
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-left">
                    <a href="ConfigPrimaryComponents" class="btn btn-primary btn-simple animation-on-hover">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>