
@{
    ViewBag.Title = "StorageChoice";
}

<h1 class="title title-up">Configuration du Stockage</h1>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="card-title">Choix d'un disque</h2>
                        <h5 class="card-subtitle">Veuillez choisir le type de disque</h5>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <a href="HDDChoice">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="card-title">HDD</h2>
                        </div>
                    </div>
                </div>
                <div class="card-img-bottom">
                    <img src="~/Assets/img/ShowCaseImg/Storage/HDD.jpg" />
                </div>
            </div>
        </a>
    </div>
    <div class="col-2"></div>
    <div class="col-4">       
        <a href="SSDChoice">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="card-title">SSD</h2>
                        </div>
                    </div>
                </div>
                <div class="card-img-bottom">
                    <img src="~/Assets/img/ShowCaseImg/Storage/SSD.jpg" />
                </div>
            </div>
        </a>
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-lg-left">
                    <a href="ConfigStorage" class="btn btn-primary btn-simple animation-on-hover">Précédent</a>
                </div>

            </div>
        </div>
    </div>
</div>

