
@{
    ViewBag.Title = "Watercooling ";
}

<h1 class="title title-up">Refroidissement Processeur</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h2 class="card-title">Configuration du Watercooling</h2>
                        <h5 class="card-subtitle">Veuillez choisir un système de watercooling</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="WatercoolingConfig" class="card-link">
            <div class="card">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-9 text-left">
                            <h2 class="card-title">Watercooling Premade</h2>
                            <h5 class="card-subtitle">Système de Watercooling déja fait et prêt à etre installé dans votre configuration</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="" class="card-link disabled">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h2 class="card-title">Watercooling Custom</h2>
                            <h5 class="card-subtitle">Non disponnible pour le moment</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-left">
                    <a href="CpuCoolingChoice" class="btn btn-primary btn-simple animation-on-hover">Retour</a>
                </div>
                <div class="float-right">
                    <a href="CpuCoolingChoice" onclick="saveItem()" class="btn btn-primary btn-simple animation-on-hover disabled">Suivant</a>
                </div>
            </div>
        </div>
    </div>
</div>