
@{
    ViewBag.Title = "watercoolingConfig";
}

<h1 class="title title-up">Composants Principaux</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header ">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h2 class="card-title">Configuration du Watercooling</h2>
                        <h5 class="card-subtitle">Veuillez choisir un système de refroidissement pour votre processeur</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="float-left">
                    <a href="ConfigPrimaryComponents" class="btn btn-primary btn-simple animation-on-hover">Retour</a>
                </div>
                <div class="float-right">
                    <a href="CpuCoolingChoice" onclick="saveItem()" class="btn btn-primary btn-simple animation-on-hover disabled">Suivant</a>
                </div>
            </div>
        </div>
    </div>
</div>